<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Whiteboard</a>
  <form class="form-inline">
    <a>
      <button class="btn btn-outline-dark wbdv-nav-btn"
              *ngIf="!isLoggedIn"
              routerLink="/login">
        Login
      </button>
    </a>
    <a>
      <button class="btn btn-outline-dark wbdv-nav-btn"
              *ngIf="!isLoggedIn"
              routerLink="/register">
        Register
      </button>
    </a>
    <a>
      <button class="btn btn-outline-dark wbdv-nav-btn"
              *ngIf="isLoggedIn"
              routerLink="/profile">
        Hi {{user.firstName}}!
      </button>
    </a>
    <a>
      <button class="btn btn-outline-dark wbdv-nav-btn"
              *ngIf="isLoggedIn"
              (click)="logout()">
        Logout
      </button>
    </a>
  </form>
</nav>

<div class="container-fluid" *ngIf="isLoggedIn">

  <h3>Enrolled Sections</h3>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Course Name</th>
      <th>Seats Remaining</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let enrollment of enrollments">
      <td>
        <a (click)="navigateToSectionList(enrollment.section['courseId'])">
        {{enrollment.section['name']}}</a>

      </td>
      <td>{{enrollment.section['seats']}}</td>
    </tr>
    </tbody>
  </table>

</div>

<div class="container-fluid">

  <app-course-grid></app-course-grid>
</div>
