<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Admin Page</a>
  <form class="form-inline">
    <a>
      <button class="btn btn-outline-dark wbdv-nav-btn"
              routerLink="/home">
        Home
      </button>
    </a>
    <a>
      <button class="btn btn-outline-dark wbdv-nav-btn"
              routerLink="/profile">
        Admin Profile
      </button>
    </a>
  </form>
</nav>

<div class="container">
  <h3>Courses and Sections</h3>
  <div *ngFor="let course of courses; let i = index" [attr.data-index]="i">
    <div class="card">
      <div class="card-header text-white bg-dark" (click)="toggleSelected(course.id)">
        {{course.title}}
        <i class="fa fa-plus float-right" *ngIf="course.id !== selected"></i>
        <i class="fa fa-minus float-right" *ngIf="course.id === selected"></i>

      </div>
      <div class="card-body" *ngIf="course.id === selected">

        <table class="table table-striped">
          <thead>

          <tr>
            <th>Section Name</th>
            <th>Seats Remaining</th>
            <th>&nbsp;</th>
          </tr>

          <tr>
            <th>
              <input class="form-control"
                     ng-init="course.title Section 1"
                     [(ngModel)]="course.sectionName"
                     placeholder="Eg: {{course.title}} Section 1">
            </th>
            <th>
              <input [(ngModel)]="sectionSeats"
                     placeholder="Eg: 80"
                     type="number"
                     min=0
                     class="form-control">
            </th>
            <th>
              <button class="btn btn-success fa fa-plus"
                      *ngIf="!updateMode"
                      (click)="createSection(course.id, course.sectionName, sectionSeats, i)">
              </button>
              <button class="btn btn-success fa fa-check"
                      *ngIf="updateMode"
                      (click)="updateSection(i)">
              </button>
              <button class="btn btn-dark fa fa-times"
                      *ngIf="updateMode"
                      (click)="cancelUpdate(i)">
              </button>
            </th>
          </tr>
          </thead>

          <tbody>

          <tr *ngFor="let section of course.sections; let j = index" [attr.data-index]="j">
            <td>{{section.name}}</td>
            <td>{{section.seats}}</td>
            <th>
              <button class="btn btn-danger fa fa-trash"
                      *ngIf="!updateMode"
                      (click)="deleteSection(section._id, section.name, i, j)">
              </button>
              <button class="btn btn-primary fa fa-pencil"
                      *ngIf="!updateMode"
                      (click)="populateSection(section, j, i)">
              </button>
            </th>
          </tr>

          </tbody>

        </table>
      </div>
    </div>
    <br>
  </div>

</div>
