<div class="container">
  <h3>Courses and Sections</h3>
  <div *ngFor="let course of courses">
    <div class="card">
      <div class="card-header text-white bg-dark" (click)="toggleSelected(course.id)">
        {{course.title}}
        <fa name="plus" class="float-right" *ngIf="course.id !== selected"></fa>
        <fa name="minus" class="float-right" *ngIf="course.id === selected"></fa>
      </div>
      <div class="card-body" *ngIf="course.id === selected">

          <div class="form-group">
            <label>Section Name</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
      <span class="input-group-text"
            id="basic-addon3">{{course.title}} - </span>
              </div>
              <input class="form-control"
                     [(ngModel)]="newSection.name"
                     aria-describedby="basic-addon3"
                     placeholder="Section Name">
            </div>
          </div>

          <div class="form-group">
            <label>Total Seats</label>
            <input [(ngModel)]="newSection.seats"
                   placeholder="Seats available"
                   type="number"
                   class="form-control">
          </div>

          <button class="btn btn-success btn-block">
            Add Section
          </button>

        <div *ngFor="let section of course.sections">
          {{section.name}} ({{section.seats}})
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
