<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Sections for course: {{courseName}}</a>
  <form class="form-inline">
    <a>
      <button class="btn btn-outline-dark wbdv-nav-btn"
              routerLink="/home">
        Home
      </button>
    </a>
    <a>
      <button class="btn btn-outline-dark wbdv-nav-btn"
              routerLink="/profile">
        Profile
      </button>
    </a>
  </form>
</nav>

<div class="container">

  <ul class="list-group">
    <li *ngFor="let section of sections" class="list-group-item">
      {{section.name}} ({{section.seats}})
      <button (click)="enroll(section)"
              class="float-right btn btn-primary">Enroll</button>
    </li>
  </ul>

</div>
